html, body{
  padding: 0;
  margin: 0;
}
body{
  overflow: hidden;
  background-image: url("./bg.jpg");
  background-size: cover;
}

canvas{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #000;
  /* border: 5px solid #e2d06e; */
  box-sizing: border-box;
}
